#topwrap {
	background-color: $blue;
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	color: $white;
	text-align: center;
}

#content {
	h2 {
		margin: 56px 0 22px 0;
		padding: 0;
	}
	p {
		margin-bottom: 64px;
	}
}

.nexus-large {
	background-image: url(../images/nexus5x.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 61px;
	padding-bottom: 68px;
	padding-right: 16px;
	padding-left: 14px;
	margin: 0px 30px -145px 30px;
	display: inline-block;
	img {
		width: 253px;
	}
}

.nexus-small {
	background-image: url(../images/nexus5x.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 55px;
	padding-right: 13px;
	padding-left: 11px;
	display: inline-block;
	margin: 0px 30px -86px 30px;
	img {
		width: 229px;
	}	
}

@media (max-width: 34em) {
	.nexus-large img {
		width: 229px;
	}
}

#contactform {
	color: $blue;
	margin-top: 160px;
	text-align: center;
	input {
		border: 1px solid $blue;
		border-radius: 3px;
		width: auto;
		font-size: 1.285714286em;
		margin: 28px auto 0 auto;
		padding: 12px 18px;
		&[type="submit"] {
			background: $blue;
			border-radius: 3px;
			color: $white;
			text-transform: uppercase;
			margin-top: 12px;
			width: 114px;
			box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
		}
	}
	.mc-field-group {
		display: inline-block;
		margin-right: 6px;
	}
	div.mce_inline_error {
		position: absolute;
		margin-top: 8px;
		background-color: $red;
	}
	#mc_embed_signup input.mce_inline_error {
    border-color: $red;
	}
	#mce-responses {
		margin-top: 8px;
		font-size: 1.285714286em;
		max-width: 600px;
		font-weight: 300;
		margin: 8px auto 0 auto;
	}
}

#follow {
	color: $blue;
	margin: 60px 0 15px 0;
	text-align: center;
	a {
		display: inline-block;
		height: 36px;
		text-indent: -3000px;
		width: 36px;
		margin: 16px 8px 64px 8px;
		&#twitter {
			background-image: url(../images/twitter.svg);
		}
		&#facebook {
			background-image: url(../images/facebook.svg);
		}
		&:hover {
			opacity: 0.5;
		}
	}

}